doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title test
    // Normalize
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css')
    // Open Sans
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    // Merriweather font
    link(href='https://fonts.googleapis.com/css?family=Merriweather', rel='stylesheet', type='text/css')
    // Raleway font
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
    // Bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='style-test.css')
  body
    // Navigation Bar
    nav.navbar.navbar-default
      .col-xs-8
        a.btn.btn-info.navbar-btn(href='/dashboard') Dashboard
        a.btn.btn-info.navbar-btn(href='/chat') Chat
      .col-xs-4.text-right
        a.btn.btn-danger.navbar-btn(href='/logout') Log out
    // Img
    .img-wrap
      // Hero and Button
      .container
        .row.vertical-center
          .col-lg-8.col-lg-offset-2
            h1.text-center.hero Dashboard
            a.btn.btn-primary.btn-lg.btn-block(href='orders.html', role='button') Add a New Test
    // Company Info Section
    .container-fluid
      .row
        .col-lg-4.article-div
          h3.article-header
            span.glyphicon.glyphicon-pushpin
            |   Test A
            img(src='graph.jpg')
        .col-lg-4.article-div
          h3.article-header
            span.glyphicon.glyphicon-pushpin
            |   Test B
            img(src='graph-2.jpg')
        .col-lg-4.article-div
          h3.article-header
            span.glyphicon.glyphicon-pushpin
            |   Test C
            img(src='graph-3.jpg')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='index.js')
