/* font-family: 'Merriweather', serif;
   font-family: 'Raleway', sans-serif;
   font-family: 'Open Sans', sans-serif; */

body {
  background-color: #2D2E34;
}

ul {
  border-radius: 9px;
}

img {
  border-radius: 9px;
}

nav a+a {
  margin-left: .4em;
}



/* General, Body */
.vertical-center {
  min-height: 100%;
  min-height: 50vh;
  align-items: center;
  display: flex;
}

.img-wrap {
  background-image: url('chalkboard-3.jpg');
  background-size: cover;
}


/* Main */
.hero {
  font-family: 'Playfair Display', serif;
  font-size: 6rem;
  color: white;
  margin-bottom: 30px;
}

.btn-lg {
  font-size: 4rem;
  font-family: 'Raleway', sans-serif;
}


/* Articles */
.article-header {
  font-size: 2.9rem;
  color: black;
  text-align: center;
}

.article {
  font-family: 'Merriweather', serif;
  font-size: 1.7rem;
  color: black;
}

.article-div {
  background-color: white;
  min-height: 33rem;
  border: 1.5px solid #c9c9c9;
  padding-left: 7rem;
  padding-right: 7rem;
}

img {
  width: 393px;
  height: 308;
  padding: 1rem;
  padding-right: 7rem;
}

.buttons {
  margin-top: 70px;
}

.blank {
  height: 132px;
  width: 415.33px;
  margin-top: 20px;
  margin-bottom: 30px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: white;
}
